.chat-view-comment {
  .ant-comment-nested {
    margin-left: 60px;
  }

  .ant-image {
    border-radius: 4px;
    overflow: hidden;
    min-width: 140px;
    min-height: 94px;
    max-width: 140px;
    max-height: 94px;
  }

  .ant-image-mask-info {
    display: flex;
    align-items: center;
    justify-content: center;
    .anticon {
      transform: translateY(-1px);
    }
  }
}

.chat-view-uploads {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.chat-view-comment-date {
  color: var(--bs-gray-600);
  cursor: pointer;
}

.chat-view-comment-user {
  font-size: 15px;
  color: #06f;
  &:hover {
    color: rgba(#06f, 0.7);
  }
}

.chat-view-comment-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
