.slider {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0px;
  height: 4px;
  overflow-x: hidden;
  z-index: 99;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: rgba(#06f, 0.45);
  width: 150%;
  height: 4px;
}

.subline {
  position: absolute;
  background: rgba(#06f, 0.75);
  height: 4px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
